<div fxLayout="column" fxLayoutGap="25px">
  <div id="toolbar" fxFlex fxLayout="column" fxLayoutGap="25px">
    <h4 fxFlex>
      ویرایش دپارتمان
      <b> "{{ department.Name }}" </b>
    </h4>
    <div fxLayout="column">
      <div fxLayout="row">
        <div fxFlex="100px" class="label">{{ "Id" | translate }}:</div>
        <div fxFlex class="value">{{ department.Id }}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100px" class="label">{{ "Unit" | translate }}:</div>
        <div fxFlex class="value">{{ department.Unit }}</div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100px" class="label">{{ "Queue" | translate }}:</div>
        <div fxFlex class="value">{{ department.Queue }}</div>
      </div>
    </div>
  </div>
  <div fxFlex>
    <form [formGroup]="formGroup">
      <div fxLayout="column">
        <div fxFlex="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "status" | translate }}</mat-label>
              <mat-select formControlName="Enable">
                <mat-option
                  *ngFor="let item of enability_options"
                  [value]="item"
                >
                  {{ item | activationStatus }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "Priority" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="1"
                formControlName="Priority"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "StartWorkingTime" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="09:00"
                formControlName="StartWorkingTime"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "EndWorkingTime" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="16:00"
                formControlName="EndWorkingTime"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "CallMore" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="7"
                formControlName="CallMore"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "RetryTime" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="10 ثانیه"
                formControlName="RetryTime"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "QueryMethod" | translate }}</mat-label>
              <mat-select formControlName="QueryMethod">
                <mat-option
                  *ngFor="let item of query_methods$ | async"
                  [value]="item.Id"
                >
                  {{ item.FarsiName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>{{ "CallDurationLimit" | translate }}</mat-label>
              <input
                type="text"
                matInput
                placeholder="12ثانیه"
                formControlName="CallDurationLimit"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div fxFlex fxLayout="row">
    <button fxFlex type="button" (click)="cancel()" mat-button color="primary">
      {{ "cancel" | translate }}
    </button>
    <button
      fxFlex
      type="button"
      (click)="update()"
      mat-raised-button
      color="primary"
    >
      {{ "save" | translate }}
    </button>
  </div>
</div>
