mat-form-field {
	width: 100%;
}

.mat-select {
	min-width: 250px;
}
#toolbar {
	background: #3f51b5;
	color: #fff;
	width: calc(100% + 32px);
	margin-right: -16px;
	margin-top: -8px;
	padding: 0 25px 17px 25px;
}
