<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="0 1 1400px" fxLayout="column" fxLayoutGap="25px">
    <h4 class="header" fxFlex>
      {{ "upload list" | translate }}
    </h4>

    <mat-card fxFlex>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" flex-align="center">
          <!-- <ng-container matColumnDef="ListID">
            <th
              mat-header-cell
              [matTooltip]="descriptions.ListID"
              *matHeaderCellDef
            >
              {{ "ListID" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.ListID"
            >
              {{ element.ListID }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="Description">
            <th
              mat-header-cell
              [matTooltip]="descriptions.Description"
              *matHeaderCellDef
            >
              {{ "Description" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.Description"
            >
              {{ element.Description }}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="IssueDate	">
            <th
              mat-header-cell
              [matTooltip]="descriptions.IssueDate"
              *matHeaderCellDef
            >
              {{ "IssueDate	" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.IssueDate"
            >
              {{ element.IssueDate }}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="Id">
            <th
              mat-header-cell
              [matTooltip]="descriptions.Id"
              *matHeaderCellDef
            >
              {{ "Id" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.Id"
            >
              {{ element.Id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th
              mat-header-cell
              [matTooltip]="descriptions.Name"
              *matHeaderCellDef
            >
              {{ "Name" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.Name"
            >
              {{ element.Name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="OperatorName">
            <th
              mat-header-cell
              [matTooltip]="descriptions.OperatorName"
              *matHeaderCellDef
            >
              {{ "OperatorName" | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [matTooltip]="descriptions.OperatorName"
            >
              {{ element.OperatorName }}
            </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              [matTooltip]="descriptions.actions"
              *matHeaderCellDef
            >
              {{ "action" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="Example icon-button with a delete icon"
                (click)="remove(element)"
                [matTooltip]="'delete' | translate"
              >
                <mat-icon>delete</mat-icon>
              </button>

              <!-- <button
                mat-icon-button
                aria-label="exmaple icon-button with a get_app icon"
                [matTooltip]="'Details' | translate"
                (click)="openBottomSheet(element)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </button> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 25, 100]"
          [length]="Total"
          [pageIndex]="PageNo"
          [pageSize]="1"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
