<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="700px">
        <mat-card-header>
            <mat-card-title>
                ویرایش دپارتمان
                <b>
                    {{formGroup.get('department').value}}
                </b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <div fxLayout="row wrap" class="fields">
                    <div fxFlex="50">
                        <mat-form-field>
                            <mat-label>فعال</mat-label>
                            <mat-select fxFlex="10">

                                <mat-option *ngFor="let num of num" [value]="num.value">
                                    {{num.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="number" matInput placeholder="اولویت" formControlName="Priority" min="1"
                                max="20">
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="time" matInput placeholder="ساعت شروع کار"
                                formControlName="StartWorkingTime">
                        </mat-form-field>
                    </div>


                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="time" matInput placeholder="ساعت پایان کار" formControlName="EndWorkingTime">
                        </mat-form-field>
                    </div>


                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="text" matInput placeholder="دپارتمان" formControlName="department">
                        </mat-form-field>
                    </div>



                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="text" matInput placeholder="صف" formControlName="Queue">
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="number" matInput placeholder="URL ID" formControlName="UrlId">
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="text" matInput placeholder="استراتژی" formControlName="QueryMethod">
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="number" matInput placeholder="تعداد تماس بیشتر" formControlName="CallMore"
                                min="1" max="30">
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field>
                            <input type="number" matInput placeholder="ساعت تماس مجدد" formControlName="retry_time">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" (click)="edit()" mat-raised-button color="primary">{{'save' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>