<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="700px">
      <mat-card-header>
          <mat-card-title>
              ویرایش دپارتمان
              <b>
                  {{formGroup.get('department').value}}
              </b>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="formGroup">
              <div fxLayout="row wrap" class="fields">
                  <div fxFlex="50">
                      <mat-form-field>
                          <mat-label>Enable</mat-label>
                          <mat-select>

                              <mat-option *ngFor="let num of num" [value]="num.value">
                                  {{num.viewValue}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="number" matInput placeholder="Priority" formControlName="Priority" min="1" max="20">
                      </mat-form-field>
                  </div>

                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="text" matInput placeholder="Department" formControlName="department">
                      </mat-form-field>
                  </div>


                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="time" matInput placeholder="Start working time"
                              formControlName="StartWorkingTime">
                      </mat-form-field>
                  </div>


                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="time" matInput placeholder="End working time"
                              formControlName="EndWorkingTime">
                      </mat-form-field>
                  </div>


                  <div fxFlex="50">
                   <mat-form-field>
                    <mat-label>nwd_table_id</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let num of num" [value]="num.value">
                          {{num.viewValue}}
                       </mat-option>
                     </mat-select>
                   </mat-form-field>
                  </div>


                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="text" matInput placeholder="Queue" formControlName="Queue">
                      </mat-form-field>
                  </div>


              
                  <div fxFlex="50">
                      <mat-form-field>
                        <input type="number" matInput placeholder="UrlId" formControlName="UrlId">
                      </mat-form-field>
                  </div>

                  <div fxFlex="50">
                      <mat-form-field>
                        <input type="text" matInput placeholder="QueryMethod" formControlName="QueryMethod">
                      </mat-form-field>
                  </div>


                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="number" matInput placeholder="CallMore" formControlName="CallMore" min="1" max="30">
                      </mat-form-field>
                  </div>

                  <div fxFlex="50">
                      <mat-form-field>
                          <input type="number" matInput placeholder="retry_time" formControlName="retry_time">
                      </mat-form-field>
                  </div>
              </div>
          </form>
      </mat-card-content>
      <mat-card-actions>
          <button type="button" (click)="edit()" mat-raised-button color="primary">{{'save' | translate}}</button>
      </mat-card-actions>
  </mat-card>
</div>
