<div fxFlex="row" fxLayoutGap="25px" fxLayoutAlign="start start">
  <div fxFlex="0 0 15%" fxLayout="column" dir="rtl" fxLayoutGap="25px">
    <h4 class="header" fxFlex>
      {{ "Call Search" | translate }}
    </h4>

    <mat-card fxFlex>
      <form [formGroup]="filterForm">
        <div>
          <mat-form-field class="example-full-width">
            <input
              matInput
              formControlName="IdFilter"
              placeholder="کد اشتراک"
              maxlength="14"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input
              matInput
              formControlName="NumberFilter"
              placeholder="شماره تماس"
              maxlength="11"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>دپارتمان</mat-label>
            <mat-select fxFlex="10">
              <mat-option *ngFor="let num of num" [value]="num.value" dir="rtl">
                <input
                  matInput
                  formControlName="DepartmentFilter"
                  placeholder="دپارتمان"
                />
                {{ num.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <input
              matInput
              formControlName="AddDateFilter"
              [matDatepicker]="picker"
              placeholder="تاریخ ورود اطلاعات"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-select
              formControlName="CallStatusFilter"
              multiple
              placeholder="وضعیت تماس"
            >
              <mat-option
                *ngFor="let status of callStatusList"
                [value]="status"
                >{{ status }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <mat-card-actions align="end" fxLayout="row">
        <button
          fxFlexFill
          type="submit"
          (click)="search()"
          color="primary"
          mat-raised-button
        >
          {{ "Search" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutGap="25px" fxFlex="0 0 80%">
    <h4 class="header" fxFlex>
      {{ "show Calls Status" | translate }}
    </h4>
    <mat-card fxFlex>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- CustomerId Column -->
        <ng-container matColumnDef="CustomerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "CustomerId" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.CustomerId }}</td>
        </ng-container>

        <!-- PhoneNumber Column -->
        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "PhoneNumber" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.PhoneNumber }}</td>
        </ng-container>

        <!-- DepartmentName Column -->
        <ng-container matColumnDef="DepartmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "DepartmentName" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Department }}</td>
        </ng-container>

        <!-- UrlId Column -->
        <ng-container matColumnDef="UrlId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "UrlId" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.UrlId }}</td>
        </ng-container>

        <!-- AddDate Column -->
        <ng-container matColumnDef="AddDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "AddDate" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Add_Date | date: "y/M/d" }}
          </td>
        </ng-container>
        <!-- RetryTime Column -->
        <ng-container matColumnDef="RetryTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "RetryTime" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.RetryTime }}</td>
        </ng-container>
        <!-- LockCall Column -->
        <ng-container matColumnDef="LockCall">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LockCall" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.LockCall }}</td>
        </ng-container>
        <!-- Attempt Column -->
        <ng-container matColumnDef="Attempt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Attempt" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Attempt }}</td>
        </ng-container>
        <!-- CallStatus Column -->
        <ng-container matColumnDef="CallStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "CallStatus" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.CallStatus }}</td>
        </ng-container>

        <!-- qID column -->
        <ng-container matColumnDef="qID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "qID" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.qID }}</td>
        </ng-container>

        <!-- CallDuration Column -->
        <ng-container matColumnDef="CallDuration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "CallDuration" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.CallDuration }}
          </td>
        </ng-container>
        <!-- Info1 Column -->
        <ng-container matColumnDef="Info1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Info1" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Info1 }}</td>
        </ng-container>

        <ng-container matColumnDef="Info2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Info2" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Info2 }}</td>
        </ng-container>

        <ng-container matColumnDef="Info3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "Info3" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Info3 }}</td>
        </ng-container>
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{ "action" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              (click)="remove(element)"
              mat-icon-button
              matTooltip="حذف"
              aria-label="Example icon-button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="نمایش جزئیات"
              (click)="openBottomSheet(element)"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="total"
        [pageIndex]="pageNo"
        [pageSize]="1"
        [pageSizeOptions]="[10, 25, 100]"
        (page)="pageChanged($event)"
      >
      </mat-paginator>
    </mat-card>
  </div>
</div>
