<div fxFlex="row" fxLayoutGap="25px" fxLayoutAlign="start start">
  <div fxFlex="0 0 15%" fxLayout="column" fxLayoutGap="25px">
    <h4 class="header" fxFlex>
      {{ "Customer Search" | translate }}
    </h4>

    <mat-card fxFlex>
      <form [formGroup]="filterForm">
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="CustomerId"
              [placeholder]="'CustomerId' | translate"
              minlength="14"
              maxlength="14"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="Number"
              [placeholder]="'PhoneNumber' | translate"
              minlength="11"
              maxlength="11"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>{{ "Department" | translate }}</mat-label>
            <mat-select formControlName="Department">
              <mat-option
                *ngFor="let item of departmets$ | async"
                [value]="item.Id"
              >
                {{ item.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>{{ "Numbers List" | translate }}</mat-label>
            <mat-select formControlName="Department">
              <mat-option
                *ngFor="let item of uploads_list$ | async"
                [value]="item.Id"
              >
                {{ item.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div>
          <mat-form-field>
            <input matInput formControlName="AddDate" [matDatepicker]="picker" placeholder="تاریخ ورود اطلاعات" />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->

        <div>
          <mat-form-field>
            <mat-select
              formControlName="CallStatus"
              multiple
              [placeholder]="'CallStatus' | translate"
            >
              <mat-option
                *ngFor="let status of callStatusList"
                [value]="status"
                >{{ status }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <mat-card-actions align="end" fxLayout="row">
        <button
          fxFlexFill
          type="submit"
          (click)="search()"
          color="primary"
          mat-raised-button
        >
          {{ "Search" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutGap="25px" fxFlex="0 0 80%">
    <h4 class="header" fxFlex>
      {{ "show Calls Status" | translate }}
    </h4>
    <mat-card fxFlex>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="CustomerId">
          <th mat-header-cell *matHeaderCellDef>
            {{ "CustomerId" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.CustomerId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef>
            {{ "PhoneNumber" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.PhoneNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DepartmentName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "DepartmentName" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.DepartmentName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="urlId">
          <th mat-header-cell *matHeaderCellDef>
            {{ "urlId" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.urlId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="UrlId">
          <th mat-header-cell *matHeaderCellDef>
            {{ "UrlId" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ "UrlId" | translate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="AddDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ "AddDate" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.AddDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="LastAttemptDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ "LastAttemptDate" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.LastAttemptDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="RetryTime">
          <th mat-header-cell *matHeaderCellDef>
            {{ "RetryTime" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.RetryTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="LockCall">
          <th mat-header-cell *matHeaderCellDef>
            {{ "LockCall" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.LockCall }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Attempt">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Attempt" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Attempt }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CallStatus">
          <th mat-header-cell *matHeaderCellDef>
            {{ "CallStatus" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.CallStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CallDuration">
          <th mat-header-cell *matHeaderCellDef>
            {{ "CallDuration" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.CallDuration }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Info1">
          <th mat-header-cell *matHeaderCellDef>
            {{ "Info1" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.Info1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="info2">
          <th mat-header-cell *matHeaderCellDef>
            {{ "info2" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.info2 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="info3">
          <th mat-header-cell *matHeaderCellDef>
            {{ "info3" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.info3 }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            {{ "action" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              (click)="remove(element)"
              mat-icon-button
              [matTooltip]="'remove phone number' | translate"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              [matTooltip]="'Details' | translate"
              (click)="openBottomSheet(element)"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!--
       <mat-paginator
        [length]="total"
        [pageIndex]="pageNo"
        [pageSize]="1"
        [pageSizeOptions]="[10, 25, 100]"
        (page)="pageChanged($event)"
      >
      </mat-paginator>  -->
    </mat-card>
  </div>
</div>
