#file-selector {
	display: none;
}

h4 {
	padding: 0 3px;
}

.card {
	padding: 50px;
	background-image: linear-gradient(#568ff5, #669dff);
}

.main {
	margin-top: 110px;
	margin-right: 150px;
}

.card h4 {
	margin-bottom: 150px;
	font-size: 15px;
	font-weight: bold;
}
