<div class="container">
  <div class="row">
    <input
      type="file"
      accepet=".csv"
      id="file-selector"
      (change)="createFormData($event)"
    />
    <button mat-raised-button (click)="open_file_selector()" color="primary">
      {{ "choose file" | translate }}
    </button>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="15px"
    fxLayoutAlign="space-evenly stretch"
    class="main"
  >
    <div fxFlex>
      <mat-card
        fxFlex="200px"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex="60"
        class="card"
      >
        <h4>{{ "DepartmentName" | translate }}</h4>

        <div fxFlex="nogrow" *ngIf="statics">
          {{ statics.DepartmentName }}
        </div>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card
        fxFlex="200px"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex="60"
        class="card"
      >
        <h4>{{ "SuccessNumber" | translate }}</h4>

        <div fxFlex="nogrow" *ngIf="statics">
          {{ statics.SuccessNumber }}
        </div>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card
        fxFlex="200px"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex="60"
        class="card"
      >
        <h4>{{ "FailedNumber" | translate }}</h4>

        <div fxFlex="nogrow" *ngIf="statics">
          {{ statics.FailedNumber }}
        </div>
      </mat-card>
    </div>
  </div>
</div>
