<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="700px">
    <mat-card-header>
      <mat-card-title>
        ویرایش لیست تماس ها
        <b>
          <!-- {{ formGroup.get("department").value }} -->
        </b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div fxLayout="row wrap" class="fields">
          <!-- <div fxFlex="50">
            <mat-form-field>
              <mat-label>فعال</mat-label>
              <mat-select fxFlex="10">
                <mat-option *ngFor="let num of num" [value]="num.value">
                  {{ num.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="کد اشتراک"
                formControlName="customerID"
                min="1"
                max="10"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="uniqeID"
                formControlName="uniqeID"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="جنس تماس"
                formControlName="qID"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="شماره تلفن"
                formControlName="Number"
                [max]="12"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="دپارتمان"
                formControlName="Department"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="تاریخ آپلود شماره"
                formControlName="Add_Date"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="URL ID"
                formControlName="Url_ID"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="time"
                matInput
                placeholder="ساعت تماس مجدد"
                formControlName="Retry_Time"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Lock_call"
                formControlName="Lock_call"
                min="1"
                max="30"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Attempt"
                formControlName="Attempt"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="وضغیت تماس"
                formControlName="Call_Status"
                min="1"
                max="2"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="time"
                matInput
                placeholder="مدت زمان مکالمه"
                formControlName="Call_Duration"
                min="1"
                max="30"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="کاربر"
                formControlName="Info1"
                min="1"
                max="30"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="string"
                matInput
                placeholder="وضعیت آپلود crm"
                formControlName="Info3"
                min="1"
                max="30"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" click="edit()" mat-raised-button color="primary">
        {{ "save" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
