<div fxLayout="column" fxLayoutGap="25px">
  <div fxFlex fxLayout="column" fxLayoutGap="25px">
    <h4 fxFlex id="toolbar">
      {{ "show detail call resualt of ID" | translate }}
      <b>
        {{ callResult?.CustomerId }}
      </b>
    </h4>

    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">{{ "CustomerId" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.CustomerId }}</div>
        <div fxFlex="200px" class="label">{{ "PhoneNumber" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.PhoneNumber }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">
          {{ "DepartmentName" | translate }}:
        </div>
        <div fxFlex class="value">{{ callResult?.DepartmentName }}</div>
        <div fxFlex="200px" class="label">{{ "UrlId" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.UrlId }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">{{ "AddDate" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.AddDate }}</div>
        <div fxFlex="200px" class="label">
          {{ "LastAttemptDate" | translate }}:
        </div>
        <div fxFlex class="value">{{ callResult?.LastAttemptDate }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">{{ "RetryTime" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.RetryTime }}</div>
        <div fxFlex="200px" class="label">{{ "LockCall" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.LockCall }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">{{ "Attempt" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.Attempt }}</div>
        <div fxFlex="200px" class="label">{{ "CallStatus" | translate }}:</div>
        <div fxFlex>{{ callResult?.CallStatus | callResult }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">
          {{ "CallDuration" | translate }}:
        </div>
        <div fxFlex class="value">{{ callResult?.CallDuration }}</div>
        <div fxFlex="200px" class="label">{{ "Info1" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.Info1 }}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxFlex="200px" class="label">{{ "info2" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.info2 }}</div>
        <div fxFlex="200px" class="label">{{ "info3" | translate }}:</div>
        <div fxFlex class="value">{{ callResult?.info3 }}</div>
      </div>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center end">
    <button
      fxFlex="grow"
      type="button"
      (click)="cancel()"
      mat-button
      color="primary"
    >
      {{ "cancel" | translate }}
    </button>
  </div>
</div>
