<div fxLayout="column">
  <h4 fxFlex>
    ویرایش لیست آپلودها
    <b>
      {{ formGroup.get("Name").value }}
    </b>
  </h4>
  <div fxFlex>
    <form [formGroup]="formGroup">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="توضیحات لیست"
                formControlName="Description"
                min="1"
                max="20"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="شناسه"
                formControlName="Id"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="نام لیست"
                formControlName="Name"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="نام اپراتور"
                formControlName="OperatorName"
              />
            </mat-form-field>
          </div>
        </div>
        <!--
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="تعداد تماس های موفق"
                formControlName="SuccessRecords"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="دپارتمان"
                formControlName="department"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="تاریخ"
                formControlName="Date"
                [matDatepicker]="picker3"
              />
              <mat-datepicker-toggle matSuffix [for]="picker3">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder=" تاریخ آپلود شماره"
                formControlName="add_date"
                min="1"
                max="30"
                [matDatepicker]="picker2"
              />
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder=" lock_call"
                formControlName="lock_call"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder=" وضعیت تماس"
                formControlName="call_status"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="تاریخ آخرین تلاش"
                [matDatepicker]="picker1"
                formControlName="Last_attempt_date"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="مدت زمان مکالمه"
                formControlName="CallDurationLimit"
              />
            </mat-form-field>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <div fxFlex fxLayout="row">
    <button fxFlex type="button" (click)="cancel()" mat-button color="warn">
      {{ "cancel" | translate }}
    </button>
    <button
      fxFlex
      type="button"
      (click)="update()"
      mat-raised-button
      color="primary"
    >
      {{ "save" | translate }}
    </button>
  </div>
</div>
