<div fxLayout="column">
  <h4 fxFlex>
    ویرایش لیست آپلودها
    <b>
      {{ formGroup.get("Name").value }}
    </b>
  </h4>
  <div fxFlex>
    <form [formGroup]="formGroup">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="توضیحات لیست"
                formControlName="Description"
                min="1"
                max="20"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="شناسه"
                formControlName="Id"
              />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="نام لیست"
                formControlName="Name"
              />
            </mat-form-field>
          </div>

          <div fxFlex="50">
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="نام اپراتور"
                formControlName="OperatorName"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div fxFlex fxLayout="row">
    <button fxFlex type="button" (click)="cancel()" mat-button color="warn">
      {{ "cancel" | translate }}
    </button>
    <button
      fxFlex
      type="button"
      (click)="update()"
      mat-raised-button
      color="primary"
    >
      {{ "save" | translate }}
    </button>
  </div>
</div>
