<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
  <div fxFlex="500px">
    <mat-card color="primary">
      <mat-card-content>
        <div fxLayout="column">
          <div fxFlex="row" fxLayoutAlign="center">
            <mat-card-header>گزارش تماس های دیروز</mat-card-header>
            <mat-icon matTooltip="تعداد تماس های ناموفق دیروز">note</mat-icon>
          </div>
          <br>
          <div fxFlex="row" fxLayoutAlign="center">
              <h4>448</h4>
          </div>

          <form fxFlex="50px" fxFlexAlign="center center"></form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="500px">
    <mat-card color="primary">
      <mat-card-title fxLayout="row" fxLayoutAlign="center center">تعداد تماس های باقی مانده </mat-card-title>
      <mat-card-content>
        <mat-list>
            <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-list-item>qm-cancel</mat-list-item>
          <h4 class=X>448</h4><br>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-list-item>qm-Changeline</mat-list-item>
          <h4 class=X>338</h4><br>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-list-item>qm-delivery</mat-list-item>
          <h4 class=X>778</h4><br>
        </div>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
    <div fxFlex="500px">
      <mat-card color="primary">
        <mat-card-content>
          <div fxLayout="column">
            <div fxFlex="row" fxLayoutAlign="center">
              <mat-card-header>تعداد کل تماس ها</mat-card-header>
              <mat-icon matTooltip="تعداد تماس های ناموفق دیروز">
                settings_voice</mat-icon>
            </div>
            <br>
            <div fxFlex="row" fxLayoutAlign="center">
              <h4>448</h4>
            </div>

            <form fxFlex="50px" fxFlexAlign="center center"></form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
