<div fxLayout="row" fxLayoutAlign="center center" class="container">
<mat-card fxFlex="550px">
  <mat-card-content>
    <div fxLayout="column" dir="rtl">
       <button mat-ion-button><mat-icon>phone</mat-icon></button>
       <form fxFlex="50px" fxFlexAlign="center center" >
         <div fxFlex>
           <div fxLayout="row wrap" fxLayoutAlign="center center">
             <!-- <mat-form-field fxFlex="70">

            </mat-form-field> -->

          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
</div>
