.container {
	height: 100vh;
	.wallpaper {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("/assets/images/online-chat-bg.jpg");
	}
	mat-card-content {
		width: 50%;
		#app-name {
			font-weight: bold;
			font-size: 17px;
		}
	}
}
