<div fxLayout="row" class="container">
  <div fxFlex="1 1 auto" class="wallpaper">
    <img />
  </div>
  <mat-card fxFlex="550px" fxLayoutAlign="center center">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <img
          fxFlex="50px"
          fxFlexAlign="center"
          src="http://www.shatel.ir/file/2016/10/shatel.png"
          alt="Avatar"
        />
        <div id="app-name" fxFlex>
          {{ "app name" | translate }}
        </div>

        <form fxFlexFill [formGroup]="formGroup">
          <div fxLayout="column">
            <mat-form-field fxFlex>
              <input
                type="text"
                matInput
                [placeholder]="'username' | translate"
                formControlName="username"
              />
            </mat-form-field>

            <mat-form-field fxFlex>
              <input
                type="password"
                matInput
                [placeholder]="'password' | translate"
                formControlName="password"
              />
              <mat-error *ngIf="formGroup.get('password').invalid">{{
                "Error Password" | translate
              }}</mat-error>
            </mat-form-field>
          </div>
        </form>

        <button
          [disabled]="this.formGroup.invalid"
          fxFlexFill
          type="button"
          (click)="submit()"
          mat-raised-button
          color="primary"
        >
          {{ "login" | translate }}
        </button>
      </div>
    </mat-card-content>

    <button mat-button type="button" color="warn" *ngIf="">
      {{ "Logout" | translate }}
    </button>
  </mat-card>
</div>
