<mat-toolbar fxLayout="row" color="primary">
  <div id="app-name" fxFlex="nogrow">
      <img
      fxFlex="50px"
      fxFlexAlign="center"
      src="assets/images/AA.png"
      alt="Avatar"
      width="50"
      height="55"
    />
    <!-- {{ "app name" | translate }} -->
  </div>
  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center">
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      {{ "Dashboard" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/uploadList"
      routerLinkActive="active"
    >
      {{ "Upload List" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/departments"
      routerLinkActive="active"
    >
      {{ "Departments" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/callingLists"
      routerLinkActive="active"
    >
      {{ "Calling Lists" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      [routerLink]="['/UpLists']"
      routerLinkActive="active"
    >
      {{ "UpLists" | translate }}
    </button>
  </div>
  <div fxFlex="0 0 auto">
    علی طاهری
  </div>
  <button
    fxFlex="nogrow"
    mat-icon-button
    aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltip="خروج"
    (click)="logout()"
    routerLinkActive="active"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side"></mat-sidenav>
  <mat-sidenav-content>
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class=Z fxFlex="100 auto" fxLayoutAlign="center center"><h4>Copyright: shatel.ir</h4></div>
    <!-- <a href="https://www.shatel.ir/"> -->
    <div fxLayout="row" fxFlex="5" fxLayoutAlign="space-evenly end">
      <img
      src="assets/images/XX.png"
      height="50"
      width="50"
      alt="Shatel"
      >
    </div>

  </div>
</footer>
