<mat-toolbar fxLayout="row" color="primary">
  <div id="app-name" fxFlex="nogrow">
    {{ "app name" | translate }}
  </div>
  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center">
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      {{ "Dashboard" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/uploadList"
      routerLinkActive="active"
    >
      {{ "Upload List" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/departments"
      routerLinkActive="active"
    >
      {{ "Departments" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      routerLink="/callingLists"
      routerLinkActive="active"
    >
      {{ "Calling Lists" | translate }}
    </button>
    <button
      fxFlex="nogrow"
      mat-button
      [routerLink]="['/UpLists']"
      routerLinkActive="active"
    >
      {{ "UpLists" | translate }}
    </button>
  </div>
  <div fxFlex="0 0 auto">
    علی طاهری
  </div>
  <button
    fxFlex="nogrow"
    mat-icon-button
    aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltip="خروج"
    (click)="logout()"
    routerLinkActive="active"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side"></mat-sidenav>
  <mat-sidenav-content>
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <div fxLayout="row" fxLayoutAlign="center">
    <div  fxFlex="100 auto" fxLayoutAlign="center">Copyright: shatel.ir</div>

    <div fxLayout="row" fxLayoutAlign="space-evenly end">
      <mat-icon class="icon">
        settings_phone
      </mat-icon>
    </div>
  </div>
</footer>
